http {
	server {
		listen __dns_name__:https;
		server_name __dns_name__;
		ssl on;
		ssl_certificate __prefix__/etc/certbot/live/__dns_name__/fullchain.pem;
		ssl_certificate_key __prefix__/etc/certbot/live/__dns_name__/privkey.pem;

		location /_matrix/ {
			proxy_pass http://localhost:8008/;
		}
	}

	server {
		listen __dns_name__:8448;
		server_name __dns_name__;
		ssl on;
		ssl_certificate __prefix__/etc/certbot/live/__dns_name__/fullchain.pem;
		ssl_certificate_key __prefix__/etc/certbot/live/__dns_name__/privkey.pem;

		location /_matrix/ {
			proxy_pass http://localhost:8072/;
		}
	}
}
